body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #0f0f0f;
    color: white;
    text-align: center;
}

header {
    background: #00ffc3;
    color: black;
    padding: 20px;
}

.card {
    background: #1e1e1e;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px #00ffc3;
}

h2 {
    color: #00ffc3;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    margin-top: 30px;
    padding: 10px;
    font-size: 14px;
    opacity: 0.7;
}
